<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>

<div class="tout">
  <ul class="tabs">
    <% i= 1 %>
    <% @categories.each do |categorie|%>
      <div class="tabb<%= i %>">
        <li class="tab<%= i %>"><%= categorie.title  %></li>
        <% i += 1%>
        <div class="tab_content">
          <ul>
            <% categorie.tasks.each do |task|  %>
              <li>
                <%= task.title  %>
                <% unless task.deadline.nil? %>
                , to read: <%= task.deadline.strftime('%D')  %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div id="carrousel">
  <div class="arrow arrow-left"></div>
  <ul>
    <% @tasks.each do |task|  %> <!-- Ici on créer une liste avec toutes les images du carousel. -->
      <% unless task.image.nil? %>
        <li><%= image_tag task.image %></li>
      <% end %>
    <% end %>
  </ul>
  <div class="arrow arrow-right"></div>
</div>
